// Color
$color-black: #10111D;
$color-bg: #f3f4f9;
$color-grey: #CACFDB;
$color-white: #FFFFFF;
$color-white-light: #FDFDFF;
$color-white-grey: #E1EEFD;
$color-blue: #0080FF;

// Font weights
$font-weight-normal: 400;
